body {
    background-color: #EEF9BF;
    height: 915px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    width: 1110px;
    height: 629px;
    background: #b4b4b4;
}

.titulo {
    width: 700px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    background-color: aquamarine;
    margin-left: 230px;
}

.cartas {
    background-color: blueviolet;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.carta {
    width: 117px;
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    margin-top: 30px;
}

.carta img {
    width: 100px;
    height: 100px;
    padding: 23px 8.5px;
    background-color: #A7E9AF;
    border-radius: 5px;

}

.foto {
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.verso {
    transform: rotateY(180deg);
}

.virar-verso {
    transform: rotateY(0deg);
}

.virar-frente {
    transform: rotateY(-180deg);
}

/* .papagaio {
    width: 100px;
    height: 100px;
} */